* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    border-bottom: 1px solid black;
    height: 70px;
    align-items: center; /* Insere o filho de container no centro, em relação ao cross axis */
}

.navigation {
    display: flex;
    justify-content: flex-end;
    
}
.links {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}

.links:visited {
    color: black;
}

.icon {
    display: flex;
    width: 700px;
    justify-content: flex-end;
}